<!-- <div class="editPopup" id="popup_{{i}}" style="display: none;"> -->
<div class="editPopup" id="popup_" style="display: none;">
  <div class="editpost">
    <div>
      <i class="fas fa-edit"></i>
      <p class="edit">Edit</p>
    </div>
    <p>You can edit your post</p>
  </div>
  <div class="editpost">
    <div>
      <i class="fas fa-trash"></i>
      <p class="delete">Delete</p>
    </div>
    <p>You can delete your post</p>
  </div>
  <div class="editpost">
    <div>
      <i class="fas fa-link"></i>
      <p class="copyLink">Get a link</p>
    </div>
    <p>Click to copy</p>
  </div>
</div>
