.form-control{
    width: 200px;
}
.forget-pass{
    font-size: 12px;
    position: relative;
    left: 112px;
    text-decoration: none;
    cursor: pointer;
}
.forget-pass:hover{
    color: hotpink;
}
.btn{
    height: 38px;
}