
<div class="">
  <div *ngIf="alertDiv" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!!</strong> {{errMsg}}
    <button class="btn-close" (click)="closeAlert()"><i class="far fa-times-circle"></i></button>
  </div>
  <div class="socialRegister">
    <button class="btn btn-primary social-btn"><i class="fab fa-facebook"></i> Continue with facebook</button>
    <button class="btn btn-success social-btn"><i class="fab fa-google"></i> Continue with email</button>
  </div>
  <hr class="hr">
  <p class="or">Or</p>
  <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-floating mb-3">
        <label for="username" class="form-label">Enter Email Addres / Mobile Number</label>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" formControlName="username" id="username">
          <p class="alertMsg" *ngIf="!loginForm.controls['username'].value && loginForm.controls['username'].touched">Please enter valid username</p>
      </div>
      <div class="form-floating">
        <label for="password">Enter Password</label>
        <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping" formControlName="password" id="password">
      </div>
      <p class="forget-pass">Forget Password ?</p>
      <button class="btn btn-danger btn-block mt-3">Login</button>
      <p class="mt-4 text-center">Don't Have Account ? <a class="signup">Sign Up</a></p>
  </form>
</div>

<!-- <div *ngIf="errorDiv">
  <div class="backdrop"></div>
<div class="alert-box alertMsg">
{{errMsg}}
<div class="alert-box-actions text-right">
  <button type="button" class='btn btn-primary' (click)="onCloseClick()">Okay</button>
</div>
</div>
</div> -->
