<div class="container p-0">
  <h1 class="h1 pt-5">India's 1st Social Learning Network</h1>
  <p>
    Providing our youngsters and educators a stage to present their knowledge
    and interests.
  </p>
  <div class="right-div">
   <h1>{{user?.name}}</h1>
   <h1>{{user?.email}}</h1>
   <h1>{{user?.mobile}}</h1>
   <h1>{{user?.password}}</h1>
    <div *ngIf="!userAuthenticated">
      <app-login (userData)="userDatas($event)" (content)="content1($event)"></app-login>
    </div>
    <app-register></app-register>
  </div>
</div>
