.bg-color{
  background-color: #ffffff;
  box-shadow: 0px -4px 6px 1px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.sub-ul-list {
  position: absolute;
  display: none;
  padding-top: 12px;
  padding-left: 0px;
  background-color: rgb(250, 249, 249);
}
.interest-li:hover .sub-ul-list {
  display: block;
}
.sub-ul-list > li {
  list-style: none;
  position: relative;
  padding: 6px 0px;
  width: 160px;
  border-bottom: 1px solid grey;
}
.fa {
  font-size: 14px;
  color: grey;
}
li {
  cursor: pointer;
}
.fa-chevron-right {
  position: absolute;
  right: 5px;
  top: 11px;
}
.sub-ul-list li:hover {
  border-left: 2px solid red;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: gainsboro;
}
.logo {
  width: 150px;
}
.govt-sub-ul {
  background-color: rgb(250, 249, 249);
  position: absolute;
  left: 158px;
  top: 0px;
  width: 376px;
  padding-left: 10px;
  display: none;
}
.govt-sub-ul > li {
  list-style: none;
}
.govt-sub-ul > li > a {
}
.sub-ul-list .govt-li:hover > .govt-sub-ul {
  display: block;
}
.btn-auth {
  width: 90px;
}
