.bg-color {
  background-color: #ffffff;
  box-shadow: 0px -4px 6px 1px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.sub-ul-list {
  position: absolute;
  display: none;
  padding-top: 12px;
  padding-left: 0px;
  background-color: rgb(250, 249, 249);
}
.interest-li:hover .sub-ul-list {
  display: block;
}
.sub-ul-list > li {
  list-style: none;
  position: relative;
  padding: 6px 0px;
  width: 160px;
  border-bottom: 1px solid grey;
}
.fa {
  font-size: 14px;
  color: grey;
}
li {
  cursor: pointer;
}
.fa-chevron-right {
  position: absolute;
  right: 5px;
  top: 11px;
}
.sub-ul-list li:hover {
  border-left: 2px solid red;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: gainsboro;
}
.logo {
  width: 150px;
}
.govt-sub-ul {
  background-color: rgb(250, 249, 249);
  position: absolute;
  left: 158px;
  top: 0px;
  width: 376px;
  padding-left: 10px;
  display: none;
}
.govt-sub-ul > li {
  list-style: none;
}
.sub-ul-list .govt-li:hover > .govt-sub-ul {
  display: block;
}
.btn-auth {
  width: 90px;
}

.search-box {
  margin: auto;
  width: 30%;
  position: relative;
}
.search-box-input {
  width: 100%;
  background-color: #ebebeb;
  border: none;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  font-family: sans-serif;
}
.search-result-all {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #676565a6;
  bottom: 0;
  top: 53px;
}
.search-result {
  background-color: #ffffff;
  width: 25%;
  margin: auto;
  box-shadow: 0px 8px 12px 2px gainsboro;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.txt-not-found{
  text-align: center;
  padding: 25px;
}
.search-result-data{
  padding: 12px;
  margin: 0;
  cursor: pointer;
}
.search-result-data:hover{
  background-color: grey;
  color: whitesmoke;
}
