<div class="bg-color" (click)="closePopUpSearchbox($event)">
    <div class="container pl-0 pr-0">
        <nav class="navbar navbar-expand-md p-0 pr-0">
            <div class="container-fluid p-0 m-0">
              <a class="navbar-brand" routerLink="/" *ngIf="!userAuthenticated">
                  <img class="logo" src="/assets/Logo.png" alt="Study24x7 Logo">
              </a>
              <a class="navbar-brand" routerLink="/home/all" *ngIf="userAuthenticated">
                  <img class="logo" src="/assets/Logo.png" alt="Study24x7 Logo">
              </a>
              <div class="search-box">
                <input type="text" (keyup)="searchBox($event)" (click)="searchBocTouched()" [(ngModel)]="searchText" class="search-box-input" id="search-box-input" placeholder="Search Your Posts!">
                <div class="search-result-all" id="search-result-all" *ngIf="searchResultAll">
                  <div class="search-result">
                    <div *ngIf="isSearchData">
                      <p class="search-result-data" id="search-result-data" *ngFor="let search of allSearchedData">{{search.post | sliceText:'46'}}</p>
                    </div>
                    <div *ngIf="isNotFound">
                      <!-- <img src="/assets/png-icon/404-not-found.png" alt="404" width="100%"> -->
                      <h3 class="txt-not-found">{{noSearchData}}</h3>
                    </div>
                </div>
                </div>
              </div>
              <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!userAuthenticated">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 pl-5">
                  <li class="nav-item interest-li"> INTERESTS <i class="fa fa-chevron-down"></i>
                      <ul class="sub-ul-list">
                          <li class="govt-li">Govt. Jobs <i class="fa fa-chevron-right"></i>
                            <ul class="govt-sub-ul">
                                <span>Choose from your fovourite preparation exam</span>
                                <li><a routerLink="/">SSC</a></li>
                                <li><a routerLink="/">Defence</a></li>
                                <li><a routerLink="/">Railways</a></li>
                                <li><a routerLink="/">Banking/IRDA</a></li>
                            </ul>
                        </li>
                          <li>Competitive Exam <i class="fa fa-chevron-right"></i></li>
                          <li>Technology <i class="fa fa-chevron-right"></i></li>
                      </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div  class="d-flex" *ngIf="!userAuthenticated">
              <button class="btn-auth btn btn-primary mr-3" (click)="loginBtn(content,1)">Login</button>
              <button class="btn-auth btn btn-secondary" (click)="loginBtn(content,2)">Sign Up</button>
            </div>
            <div *ngIf="userAuthenticated">
              <button class="btn" (click)="onLogout()">Logout</button>
            </div>
            <div *ngIf="userAuthenticated">
              <button class="btn" routerLink="/profile">Profile</button>
            </div>
          </nav>
    </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{formTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-login *ngIf="login" (authLgn)="AuthLgn($event)"></app-login>
    <app-register *ngIf="!login" (loginFalse)="LoginFls($event)"></app-register>
  </div>
</ng-template>
