<div class="registerDiv p-4" style="padding-top: 0 !important;">
  <div *ngIf="alertMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!!</strong> {{errorMsg}}
    <button class="btn-close" (click)="closeAlert()"><i class="far fa-times-circle"></i></button>
  </div>
  <div class="socialRegister">
    <app-social-login></app-social-login>
  </div>
  <hr class="social-hr mt-4" />
  <div class="or-hed">
    <p class="or">or</p>
  </div>
  <div class="createAccout">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-user-circle"></i></div>
          </div>
          <input class="form-control col-11" type="text" placeholder="Enter Your Name" formControlName="name" />
        </div>
        <p class="alertMsg mb-0" *ngIf="!registerForm.controls['name'].valid && registerForm.controls['name'].touched">
          Please Enter Name</p>
      </div>
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-envelope"></i></div>
          </div>
          <input class="form-control" type="text" placeholder="Enter Your Email" formControlName="email"/>
        </div>
        <p class="alertMsg mb-0"
          *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">Please Enter
          email Address</p>
      </div>
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-mobile-alt"></i></div>
          </div>
          <input class="form-control" type="text" placeholder="Enter Mobile Number" formControlName="phone"/>
        </div>
        <p class="alertMsg mb-0"
        *ngIf="!registerForm.controls['phone'].valid && registerForm.controls['phone'].touched">Please Enter valid
        mobile number</p>
      </div>
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-lock"></i></div>
          </div>
          <input class="form-control" type="text" placeholder="Enter Password" formControlName="password"/>
        </div>
        <p class="alertMsg mb-0"
          *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">Please Enter Password</p>
      </div>
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-lock"></i></div>
          </div>
          <input class="form-control" type="text" placeholder="Confirm Password" formControlName="cpassword"/>
        </div>
        <p class="alertMsg mb-0"
          *ngIf="!registerForm.controls['cpassword'].valid && registerForm.controls['cpassword'].touched">Please Enter Password</p>
      </div>
      <button class="btn btn-danger mt-3 mb-2 verifyOtp" style="width: 100%;">
        Create Account
      </button>
      <p class="mt-4 text-center">Already Have an Account ? <a class="login" (click)="loginFls()">Login Here</a></p>
    </form>
  </div>
</div>
