.btn{
    width: 198px;
}
.social-hr{
    height: 1px;
    background-color: rgb(231, 142, 142);
}
.or-hed{
    display: flex;
    justify-content: center;
}
.or{
    text-align: center;
    position: relative;
    top: -30px;
    background-color: white;
    width: 30px;
}
.errorMsg{
    position: relative;
    top: -25px;
    color: red;
}
.createAccout{
    margin-top: -30px;
}
.login{
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
.divIcon{
  display: flex;
  align-items: center;
}
.btn-close{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 6px;
  color: red;
  font-size: 20px
}
.alert{
  box-shadow: 0px 2px 3px -1px;
}
