<div class="bg-light">
    <div class="container pl-0 pr-0">
        <nav class="navbar navbar-expand-md p-0 pr-0">
            <div class="container-fluid p-0 m-0">
              <a class="navbar-brand" routerLink="/">
                  <img class="logo" src="../../../../assets/Logo.png" alt="Study24x7 Logo">
              </a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 pl-5">
                  <li class="nav-item interest-li"> INTERESTS <i class="fa fa-chevron-down"></i>
                      <ul class="sub-ul-list">
                          <li class="govt-li">Govt. Jobs <i class="fa fa-chevron-right"></i>
                            <ul class="govt-sub-ul">
                                <span>Choose from your fovourite preparation exam</span>
                                <li><a routerLink="/">SSC</a></li>
                                <li><a routerLink="/">Defence</a></li>
                                <li><a routerLink="/">Railways</a></li>
                                <li><a routerLink="/">Banking/IRDA</a></li>
                            </ul>
                        </li>
                          <li>Competitive Exam <i class="fa fa-chevron-right"></i></li>
                          <li>Technology <i class="fa fa-chevron-right"></i></li>
                      </ul>
                  </li>
                  
                </ul>
              </div>
            </div>
            <div *ngIf="!userAuthenticated">
                <app-login></app-login>
            </div>
            <div *ngIf="userAuthenticated">
              <button class="btn" (click)="onLogout()">Logout</button>
            </div>
            <div *ngIf="userAuthenticated">
              <button class="btn" routerLink="/test">Test</button>
            </div>
          </nav>
    </div>
</div>