.d-flex .bb {
  border: 2px solid red;
}
.ul-left-side {
  width: 100%;
}
.liveImg {
  background: url("../../../assets/png-icon/live.png");
}
.liveImg {
  background-size: cover;
  height: 23px;
  width: 23px;
  margin-bottom: 0;
}
.fas {
  font-size: 16px;
}

svg {
  width: 23px !important;
}
.nav-link {
  color: #373c47;
}
.nav-link:hover {
  color: red;
  background-color: gainsboro;
}
.left-side-div{
  width: 18rem;
}
.left-side-fixed,.right-side-div{
  position: sticky;
  width: 18rem;
  padding: 12px;
  top: 68px;
}
.center-post{
  width: 45%;
  margin: 0 auto;
}
.left-side-fixed,
.right-side-div {
  background-color: white;
  border-radius: 5px;
}
.userLogo {
  width: 57px;
  border-radius: 50%;
  height: 55px;
}
.username {
  display: flex;
  align-items: center;
}
.name{
  margin: 0;
  font-weight: bold;
}
.editProfile {
  margin: 0;
  line-height: initial;
  font-size: 13px;
}
.userConection{
  display: flex;
  justify-content: space-between;
}
.userCon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userCon p{
  margin: 0;
}
.userCon p:last-child{
  font-size: 13px;
  color: red;
}
