.center-post{
  width: 45%;
  margin: 0 auto;
}
.left-side-fixed,
.right-side-div {
  background-color: white;
  border-radius: 5px;
}
.userLogo {
  width: 57px;
  border-radius: 50%;
  height: 55px;
}
.username {
  display: flex;
  align-items: center;
}
.name{
  margin: 0;
  font-weight: bold;
}
.editProfile {
  margin: 0;
  line-height: initial;
  font-size: 13px;
}
.userConection{
  display: flex;
  justify-content: space-between;
}
.userCon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userCon p{
  margin: 0;
}
.userCon p:last-child{
  font-size: 13px;
  color: red;
}
